plugins {
  id 'nextfuse@0.11.1'
}

process {
  executor = 'domino'
  withLabel:process_low {
    ext.hardwareTierName = 'mini'
  }
}

domino {
  hardwareTierId = 'small-k8s'
  imageMap = [
    'quay.io/biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:2f4a4c900edd6801ff0068c2b3048b4459d119eb-0':'biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:2f4a4c900edd6801ff0068c2b3048b4459d119eb-0',
    'quay.io/biocontainers/python:3.9--1':'biocontainers/python:3.9--1',
    'quay.io/biocontainers/sra-tools:2.11.0--pl5321ha49a11a_3':'biocontainers/sra-tools:2.11.0--pl5321ha49a11a_3',
    'quay.io/biocontainers/sra-tools:3.0.8--h9f5acd7_0':'biocontainers/sra-tools:3.0.8--h9f5acd7_0',
    'quay.io/biocontainers/synapseclient:2.7.1--pyh7cba7a3_0':'biocontainers/synapseclient:2.7.1--pyh7cba7a3_0'
  ]
}
