plugins {
  id 'nextfuse@0.11.1'
}

process {
  executor = 'domino'
  withName:SAMPLESHEET_CHECK {
    ext.environmentName = 'biocontainers/python:3.8.3'
  }
  withName:CHECK_PAIRED {
    ext.environmentName = 'biocontainers/samtools:1.16.1--h6899075_0'
  }
  withName:SAMTOOLS_COLLATEFASTQ {
    ext.environmentName = 'biocontainers/samtools:1.15.1--h1170115_0'
  }
  withName:FASTQC {
    ext.environmentName = 'biocontainers/fastqc:0.11.9--0'
  }
  withName:YARA_INDEX {
    ext.environmentName = 'biocontainers/yara:1.0.2--2'
  }
  withName:YARA_MAPPER {
    ext.environmentName = 'biocontainers/mulled-v2-f13549097a0d1ca36f9d4f017636fb3609f6c083:d6c969c1e20cc02a9234961c07a24bb0887f05ea-0'
  }
  withName:OPTITYPE {
    ext.environmentName = 'biocontainers/optitype:1.3.5--0'
  }
  withName:CUSTOM_DUMPSOFTWAREVERSIONS {
    ext.environmentName = 'biocontainers/multiqc:1.13--pyhdfd78af_0'
  }
  withName:MULTIQC {
    ext.environmentName = 'biocontainers/multiqc:1.13--pyhdfd78af_0'
  }
}

domino {
  hardwareTierId = 'small-k8s'
  environmentName = 'Domino Standard Environment Py3.9 R4.2'
}
